<div class="card mb-4">
  <h5 class="card-header ">{{ category }}</h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
        <img class="rounded-circle account-img" src="{{ category.image.url }}">
        {% for sub_cat in category.children.all %}
                <a href="{% url 'listing' parent_or_child='child' pk=sub_cat.id %}"> {{ sub_cat }} </a>
        <hr>
        <!-- Don't change this -->
        {% endfor %}
  <div class="card-footer">
  </div>
</div>
</div>
