<div class="card mb-3">
    <div class="card-header">
        <h5>{{ listing.title }}</h5>
        <h6>{{ listing.sub_category }}</h6>

    </div>
  <a href="/view/{{ listing.author.profile.slug }}"><img class="rounded-circle" style="width:75px;height:75px;" src="{{ listing.author.profile.image.url }}"></a>

  <small class="text-muted">Last updated {{ listing.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ listing.author.username }}</b></small>
  <a class="nav-link" href="/view/{{ listing.author.profile.slug }}">View Profile <span class="sr-only">(current)</span></a>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
          {{ listing.content|truncatewords_html:30 }}

      <hr>

      <div class="text-right"><a href="{% url 'post' pk=listing.id %}" title="Read More">Read More</a>
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=listing.id %}">Add comment</a>

        {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    </div>
      </div>
      <a href="{% url 'post' pk=listing.id %}">Comments: {{ post.comments.all }}</a>

  <div class="card-footer">
  </div>
</div>
