<div class="card mb-3">
    <div class="card-header">
        <h5>{{ listing.title }}</h5>
        <h6>{{ listing.sub_category }}</h6>

    </div>
  <img class="rounded-circle" style="width:75px;height:75px;" src="{{ listing.author.profile.image.url }}">
  <small class="text-muted">Last updated {{ listing.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ listing.author.username }}</b></small>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
          {{ listing.content|truncatewords_html:30 }}

      <hr>
      <div class="text-right"><a href="{% url 'post' pk=listing.id %}" title="Read More">Read More</a>
          <!-- <a href="{% url 'post' pk=listing.id %}">Comments: {{ post.comments.count }}</a> -->
      </div>

  <div class="card-footer">
  </div>
</div>
