<div class="card mb-3">
  <h5 class="card-header ">{{ listing.title }}</h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
      {{ listing.content|truncatewords_html:30 }}
      <hr>
      <div class="text-right"><a href="{% url 'post' pk=listing.id %}" title="Read More">Read More</a></div>
  <div class="card-footer">
    <small class="text-muted">Last updated {{ post.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ post.author.username }}</b></small>
  </div>
</div>
