{% extends 'base.html' %}

{% block content %}
<html>
    <body>


{% if is_empty %}
    <h1>Nothing to see here...</h1>
        <h3>Go make some connections!</h3>
{% endif%}
    {% for obj in qs %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class ="ui small circular image" src={{obj.image.url}}>
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{ obj.user }}</h3>
                        <p>{{ obj.bio }}</p>
                        <a href="#"><button class="ui primary button w-big mb-5">See profile</button></a>
                        <form action="{% url 'accept-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui positive basic button w-bit mb-5" name="button">
                                <i class="check icon"></i>
                                Accept invite
                            </button>
                        </form>
                        <form action="{% url 'reject-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui negative basic button w-bit mb-5" name="button">
                                <i class="close icon"></i>
                                Reject invite
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <br>
    {% endfor %}
</body>
</html>

<style>
    body, html {
        height: 100%;
        background-image: radial-gradient(white, #cce5ff, #99caff, #007bff);
        }

    h1 {
        padding-top: 4rem;
    }
</style>
{% endblock %}
