{% extends 'base.html' %}

{% block content %}

<html>
    <body>

    {% if is_empty %}
        <h1>No profiles to show</h1>
    {% endif %}
<div class="profiles">
    {% for obj in object_list %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="rounded-circle account-img" style="width:150px; height:150px; margin:1rem;" src={{obj.image.url}}>

                    </div>
                    <div class="thirteen wide column">
                        <h3>{{ obj.user }}</h3>
                        <p>{{ obj.bio }}</p>
                        <a href="/view/{{ obj.user.profile.slug }}"><button class="ui primary" type="button" name="button">See profile</button></a>
                        {% if obj.user not in rel_receiver and obj.user not in rel_sender %}
                            <form action="{% url 'send-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                    <button type="submit" name="button"  class="ui primar">Connect</button>
                            </form>
                        {% endif %}
                        {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                            <a class="ui disabled button"><i class=" user icon"></i>Waiting for approval</a>
                        {% endif %}
                        {% if request.user in obj.friends.all %}
                            <form action="{% url 'remove-friend'  %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                    <button type="submit" name="button" class="ui negative basic button"><i class="minus square icon"></i>Remove from friends</button>
                            </form>
                        {% endif %}

                    </div>
                </div>

            </div>

        </div>
        <br>
    {% endfor %}
</div>

</body>
</html>

<style>
    body, html {
      height: auto;
      background: fixed radial-gradient(white, #cce5ff, #99caff, #007bff);
    }

    .profiles {
        margin-top: 6rem;
        margin-left: 4rem;
    }

    button {
        color: white;
        background-color: #007bff;
        border-radius: 20% 20% 20% 20%;
        padding: 2px;
        margin: 2px;
    }

    button:hover {
        color: #007bff;
        background-color: #99caff;

    }
</style>
{% endblock %}
