{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<html>
  <body>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" style="width:175px; height:175px; margin:1rem;" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
              <hr>
              <strong>Number of friends : {{profile.get_friends_number}}</strong>
              {% for friend in profile.get_friends %}
                  {{friend}}
                  <br>
              {% endfor %}

              {{ object }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
    </body>
    </html>
    <style>
       body, html {
      height: 100%;
      background: fixed radial-gradient(white, #cce5ff, #99caff, #007bff);
    }

    .content-section {
      margin-top:8rem;
      margin-left: 8rem;
    }


    .container, .container-sm, .container-md, .container-lg {
    padding-top: 6rem;
    max-width: 960px;
}
    </style>
{% endblock content %}
