{% extends 'base.html' %}

{% block content %}

    {% if is_empty %}
        <h1>No profiles to show</h1>
    {% endif %}
<ul>
    {% for obj in object_list %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class ="ui small circular image" src={{obj.image.url}}>

                    </div>
                    <div class="thirteen wide column">
                        <h3>{{ obj.user }}</h3>
                        <p>{{ obj.bio }}</p>
                        <a href={{obj.get_absolute_url}}><button class="ui primary" type="button" name="button">See profile</button></a>
                        {% if obj.user not in rel_receiver and obj.user not in rel_sender %}
                            <form action="{% url 'send-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                    <button type="submit" name="button" class="ui positive basic button"><i class="plus square icon"</i>Add to friends</button>
                            </form>
                        {% endif %}
                        {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                            <button class="ui disabled button"><i class=" user icon"></i>Waiting for approval</button>
                        {% endif %}
                        {% if request.user in obj.friends.all %}
                            <form action="{% url 'remove-friend'  %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                                    <button type="submit" name="button" class="ui negative basic button"><i class="minus square icon"</i>Remove from friends</button>
                            </form>
                        {% endif %}

                    </div>
                </div>

            </div>

        </div>
        <br>
    {% endfor %}
</ul>
{% endblock %}
