{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<html>
    <body>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign up & Connect!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
        </form>
    </div>

    </body>
    </html>

    <style>
        html body {
            height: 100%;
            background: fixed radial-gradient(white, #cce5ff, #99caff, #007bff);
        }

        body {
        margin-left: 30%;
        margin-top: 8rem;     
        }
    </style>
{% endblock content %}
