{% extends "base.html" %}



{% block content %}

<div class="container" id="about">
<h3>About OmniConnx</h3>

<p>Finding answers is hard. Whether you’re interested in going to medical school and want to find a solution which suits you, 
career opportunities, or simply which textbook best suits your learning style… 
gathering and going through all of the options is time consuming.
Not only that, but often the answers you find will often be contradictory or non conclusive. 
We want to share our OmniConnx portal with you, where you’re instantly connected to a global community of learners and leaders 
who will share their ideas, questions, and even paid opportunities to work together.</p>

<p><strong>Our mission is to connect you to the global healthcare community to crowdsource knowledge, build relationships and create careers.</strong></p>

<p><ul>The transition to practice for many new healthcare providers is challenged by:
<li>A lack of confidence that generally lasts an average of 5 years into the practice of new healthcare providers. </li>
<li>The extreme cultural differences between the academia and the practice setting.</li>
<li>Increasingly limited clinical experience caused by less patients in hospitals and increased number of students entering the healthcare field.</li>
</ul></p>

<p>Through our database filled with unique talent, we will gladly welcome you to become another talent who grows and helps others grow 
by sharing your knowledge and enthusiasm for education. </p>
</div>

{% endblock %}