About us


Omnes Education was founded with the mission to empower by providing equity of opportunity, through universal access to high quality education.

OmniConnx is the latest venture of Omnes Education. 
our mission is to enable communication between students and the global healthcare community, to help build relationships and careers.

Finding answers is hard. 
Whether you’re interested in going to medical school and want to find a solution which suits you, 
career opportunities, or simply which textbook best suits your learning style… 

gathering and going through all of the options is time consuming.
Not only that, but often the answers you find will often be contradictory or non conclusive. 
We want to share our OmniConnx portal with you, where you’re instantly connected to a global community of learners and leaders 
who will share their ideas, questions, and even paid opportunities to work together.

Through our database filled with unique talent, we will gladly welcome you to become another talent who grows and helps others grow 
by sharing your knowledge and enthusiasm for education. 