<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>OmniConnx</title>
  </head>
  <body>
      <form class="form-inline ml-auto">
        <a class="navbar-brand" href="/"></i> OmniConnx </a>
        <!-- If user is logged in show their name -->
        <div class="">


        {% if user.is_authenticated %}
        <div class="text-black">Hello, <strong>{{user.username}}</strong>!</div>
        <!-- else, just say hello -->
        {% else %}
        <div class="text-black">Hello!</div>
        {% endif %}
</div>


        <!-- If user is logged in change the login button into a logout button -->
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Log Out</a>
        <!-- else, stay the same -->
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-secondary ml-2">Log In</a>
        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign Up</a>
        {% endif %}
      </form>

      {% block content %}
              If you see this, you forgot <code>{% verbatim %}{% block content %}{% endblock %}{% endverbatim %}</code> in your child template.
      {% endblock %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </html>
