{% extends "base.html" %}

{% block content %}

<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>HTML5/CSS3 Threaded Comments Block</title>
  <link rel="shortcut icon" href="http://www.webdesignerdepot.com/favicon.ico">
  <link rel="icon" href="http://www.webdesignerdepot.com/favicon.ico">
  <link rel="stylesheet" type="text/css" href="OmniConnx/staticfiles/css/stylin_styles.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wellfleet">
</head>



{% endblock %}