{% extends "base.html" %}


{% block content %}
<html>
<!-- sidebar menu -->
<div class="main-alt">
<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  {% if user.is_authenticated %}
  <header class="avatar">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="welcome">
              <h2>Welcome, {{user.username}}!</h2>
          </div>

    {% endif %}
    </div>




<div class="main">

<main>
  {% if user.is_authenticated %}
  <a href="{% url 'post-create' %}" class="btn ml-4" style="display:grid; padding:0px; margin-left:-4.5rem; background-color: #2196F3">New Post</a>
{% endif %}

    <div class="">
        <a href="{% url 'index_all' %}">View All Posts</a>
        <div class="card-columns" style="column-count: 4">

        {% for category in categories %}

                    {% include "categorys/partials/index_card.html" %}

        {% endfor %}
        </div>
    </div>


</main>
</div>

<body>

{% include 'sidebar.html' %}
{% if direct  %}
    <h1>HELLO!!!!!!!!!!</h1>
{% endif %}


  </html>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% endblock %}
