{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">OmniConnx</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students">For Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/professionals">For Professionals</a>
      </li>
    </ul>
      {% if user.is_authenticated %}

                                          <!-- Don't change this -->
      <div class="authed">Welcome, <strong>{{user.username}}</strong>!</div>

      <!-- else, the user is not logged in, just bdjcjbbjxsay hello -->

      <!-- Don't change this -->
      {% else %}

      <!-- change this if you want -->

      <!-- Don't change this -->
      {% endif %}

</div>
      <!-- If user is logged in change the login button into a logout button -->
      <!--  -->
      {% if user.is_authenticated %}

      <!-- DONT CHANGE THE href, but feel free to style -->
      <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Log Out</a>

      <a href="{% url 'profile' %}" class="btn btn-primary ml-2">Profile</a>

      <!-- else, the user is not logged in, stay the same -->
      <!-- Don't change this -->
      {% else %}

      <!-- DONT CHANGE THE href, but feel free to style -->
      <a href="{% url 'login' %}" class="btn btn-secondary ml-2">Log In</a>

      <!-- DONT CHANGE THE href, but feel free to style -->
      <a href="{% url 'register' %}" class="btn btn-primary ml-2">Register</a>



      <!-- Don't change this -->
      {% endif %}

    </ul>
  </div>
</nav>
