
{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}
<html>
    <body>



    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
    </body>
    </html>
<style>
   
body, html {
      height: 100%;
      background-image: radial-gradient(white, #cce5ff, #99caff, #007bff);
    }

    .content-section {
    max-width: 960px; 
    padding-top: 6rem; 
    margin-left: 30%
}
</style>
{% endblock content %}
