{% extends "base.html" %}

<!-- index.html -->
<!-- just an index page -->



{% block content %}

<!-- You can change this -->
{% if user.is_authenticated %}
    <h3>Welcome {{user.username}}!</h3>
{% endif %}
<div class="profile">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    {% if user.is_authenticated %}
            <a href="{% url 'post-create' %}" class="btn btn-success ml-4">New Post</a>
    {% endif %}

</div>

<div class="post">
    {% for listing in listings %}
        <li class="list-group-item">
            {% include "categorys/partials/listing_card.html" %}
        </li>
    {% endfor %}
        </div>
    </div>
</div>



<!-- This is the sidebar menu -->
    <!-- Don't change this -->
    {% for category in categories %}
    <div class="sidebar">

        <!-- You can change this -->
        <h5 class="card-header">{{ category }}</h5>
        <div class="card-body border-dark">
          <p class="card-text text-dark">
              {% for sub_cat in category.children.all %}
                      <a href="{% url 'listing' parent_or_child='child' pk=sub_cat.id %}"> {{ sub_cat }} </a>
              <hr>
              <!-- Don't change this -->
              {% endfor %}
        </div>
    <!-- Don't change this -->
    {% endfor %}
</div>


<!-- Help!!! I don't know CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  
  body, html {
      height: 100%;
      background-image: radial-gradient(white, #cce5ff, #99caff, #007bff);
    }
  
    body {
    
    font-family: "Lato", sans-serif;
  }
  
  div.card {
  
    position: relative right;
  }

  /* li.list-group-item{
    position: relative;
  } */

  .list-group-item {
    margin-left: 25%;
    margin-top: 1rem;
    position: relative right;
  }

  .rounded-circle {
    margin: 1rem;
  }

  .text-muted {
    padding-left:1rem;
  }
  .sidebar {
    margin-top: 1rem;
    /* margin-bottom: 1000px; */
    margin:0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute left;
    height: 100%;
    overflow: auto;

  }

  /* .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  } */

  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }

  h5.card-header {
    /* padding-top: 1rem; */
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: absolute left;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: left;
    }
  }
  
.post-box {
  color: white;
  border: 2px solid black;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 20px;
  padding: 20px;
}
</style>



{% endblock %}
