{% extends "base.html" %}
<!-- listings.html -->
<!-- This is just a page for the list of posts -->
<!-- Dont change any href or jinja brackets -->

<!-- Don't change this -->
{% block content %}
<h3>OmniConnx {% if listings %}<small class="text-muted">({{ listings|length }} Page{{ listings|length|pluralize:"s" }})</small>{% endif %}</h3>
<hr>
<h3 class="text-center display-4 text-secondary ml-4 mt-4">Listings</h3>

{% if listings %}
<div class="card-columns">
    <!-- Don't change this -->
    {% for listing in listings %}
    <li class="list-group-item">
        {% include "categorys/partials/listing_card.html" %}
    </li>
    {% endfor %}
</div>
{% else %}
    <div class="alert alert-primary" role="alert">No pages to display.</div>
{% endif %}
{% endblock %}
