{% extends "base.html" %}
<!-- post.html -->
<!-- This is just a page that shows the post.
Dont change anything inbetween jinja brackets.
Do what ever you want -->

<!-- Don't change this -->
{% block content %}
    <div class="row">
      <div class="col m-4">
         <!-- Don't change this -->
        <h3>{{ post.title }} <small class="text-muted">Last updated {{ post.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ post.author.username }}</b></small></h3>

        <hr>
        <!-- Don't change this -->
        <p>{{ post.content|linebreaksbr }}</p>


        <hr>
        <!-- Don't change this -->
        <a href="/index">Back to List</a>

      </div>
    </div>
    {% if user.is_authenticated %}
        {% if user.username == post.author.username %}
            <a class="btn btn-primary" href="{% url 'edit-post' post.id %}"  role="button">Edit</a>
            <a class="btn btn-primary" href="{% url 'delete-post' post.id %}"  role="button">Delete</a>
        {% endif %}
    {% endif %}


    <hr>

    <style media="screen">
        .comment {
            margin: 20px 0px 20px 20px;
        }
    </style>
    
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}


    <!-- Don't change this -->
{% endblock %}
